.explore-button-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.explore-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
  background: none;
  border: none;
  padding: 0.5rem;
}

.explore-btn:hover {
  color: #000;
}

.explore-text {
  font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0.25rem;
}

.chevron-icon {
  font-size: 18px;
  font-weight: 800;
}
